extends ../_layouts/page

block settings
   - var page = 'components'

block main
  div.Layout-container.mvl
    h1 Button
    p Formed button variations.

  div(class="mvl flex flex-center")
    button(class="Button mrl" type="button") Button
    button(class="Button" disabled type="button") Button

  pre.language-markup
    code
      :markdown
        <!-- Default button -->
        <button class="Button" type="button">
          Button
        </button>

        <!-- Disabled button -->
        <button class="Button" disabled type="button">
          Button
        </button>

  div(class="mvl flex flex-center")
    button(class="Button Button--primary mrl" type="button") Button
    button(class="Button Button--accent" type="button") Accent

  pre.language-markup
    code
      :markdown
        <!-- Primary button -->
        <button class="Button Button--primary" type="button">
          Button
        </button>

        <!-- Accent button -->
        <button class="Button Button--accent" type="button">
          Button
        </button>

  div(class="mvl flex flex-center")
    button(
      class="Button Button--ghost mrl" type="button") Button
    button(
      class="Button Button--primary Button--ghost mrl" type="button") Button
    button(
      class="Button Button--accent Button--ghost mrl" type="button") Accent
    button(class="Button Button--ghost " disabled type="button") disabled

  pre.language-markup
    code
      :markdown
        <!-- Ghost Buttons -->
        <button class="Button Button--ghost" type="button">
          Button
        </button>
        <!-- Primary ghost button -->
        <button class="Button Button--primary Button--ghost" type="button">
          Button
        </button>

        <!-- Accent ghost button -->
        <button class="Button Button--accent Button--ghost" type="button">
          Button
        </button>

        <!-- Disabled ghost button -->
        <button class="Button Button--ghost" disabled type="button">
          Button
        </button>

  div(class="mvl flex flex-center")
    button(
      class="Button Button--ctab mrl" type="button") Button
    button(
      class="Button Button--primary Button--ctab mrl" type="button") Button
    button(
      class="Button Button--accent Button--ctab mrl" type="button") Accent
    button(class="Button Button--ctab " disabled type="button") disabled

  pre.language-markup
    code
      :markdown
        <!-- Call to Action Buttons -->
        <!-- ctab button -->
        <button class="Button Button--ctab" type="button">
          Button
        </button>

        <!-- Primary ctab button -->
        <button class="Button Button--primary Button--ctab" type="button">
          Button
        </button>

        <!-- Accent ctab button -->
        <button class="Button Button--accent Button--ctab" type="button">
          Button
        </button>

        <!-- Disabled ctab button -->
        <button class="Button Button--ctab" disabled type="button">
          Button
        </button>

  div(class="mvl flex flex-center")
    button(class="Button Button--primary Button--icon mrl" type="button")
      +icon('icon-chevron-left')(class="Button-icon")
    button(class="Button Button--accent Button--icon" type="button")
      +icon('icon-chevron-right')(class="Button-icon")

  pre.language-markup
    code
      :markdown
        <!-- Button icon primary -->
        <button class="Button Button--icon Button--primary" type="button">
          <svg class="Icon Button-icon">
            <use xlink:href="#icon-chevron-left"></use>
          </svg>
        </button>

        <!-- Button icon accent -->
        <button class="Button Button--icon Button--accent" type="button">
          <svg class="Icon Button-icon">
            <use xlink:href="#icon-chevron-right"></use>
          </svg>
        </button>

block scripts
  script.
    [].forEach.call(document.querySelectorAll('.Button'), function(elem) {
      elem.addEventListener('mouseup', function(event) {
        if (event) event.currentTarget.blur();
      });
    });

