extends ../_layouts/page

block settings
   - var page = 'components'

block main
  div.Layout-container.mvl
    h1 Button
    p Formed button variations.

  div(class="mvl flex flex-center")
    button(class="Button js-button mrl" type="button") Button
    button(class="Button js-button" disabled type="button") Button

  pre.language-markup
    code
      :markdown
        <!-- Default button -->
        <button class="Button js-button" type="button">
          Button
        </button>

        <!-- Disabled button -->
        <button class="Button js-button" disabled type="button">
          Button
        </button>

  div(class="mvl flex flex-center")
    button(class="Button js-button Button--primary js-button mrl"
      type="button") Button
    button(class="Button js-button Button--accent js-button"
      type="button") Accent

  pre.language-markup
    code
      :markdown
        <!-- Primary button -->
        <button class="Button Button--primary js-button" type="button">
          Button
        </button>

        <!-- Accent button -->
        <button class="Button Button--accent js-button" type="button">
          Button
        </button>

  div(class="mvl flex flex-center")
    button(
      class="Button Button--ghost js-button mrl" type="button") Button
    button(
      class="Button Button--primary Button--ghost js-button mrl" type="button")
      | Button
    button(
      class="Button Button--accent Button--ghost js-button mrl" type="button")
      | Accent
    button(class="Button Button--ghost js-button " disabled type="button")
      | disabled

  pre.language-markup
    code
      :markdown
        <!-- Ghost Buttons -->
        <button class="Button Button--ghost js-button" type="button">
          Button
        </button>
        <!-- Primary ghost button -->
        <button class="Button Button--primary Button--ghost js-button" type="button">
          Button
        </button>

        <!-- Accent ghost button -->
        <button class="Button Button--accent Button--ghost js-button" type="button">
          Button
        </button>

        <!-- Disabled ghost button -->
        <button class="Button Button--ghost js-button" disabled type="button">
          Button
        </button>

  div(class="mvl flex flex-center")
    button(
      class="Button Button--ctab js-button mrl" type="button") Button
    button(
      class="Button Button--primary Button--ctab js-button mrl"
      type="button") Button
    button(
      class="Button Button--accent Button--ctab js-button mrl"
      type="button") Accent
    button(
      class="Button Button--ctab js-button" disabled
      type="button") disabled

  pre.language-markup
    code
      :markdown
        <!-- Call to Action Buttons -->
        <!-- ctab button -->
        <button class="Button Button--ctab js-button" type="button">
          Button
        </button>

        <!-- Primary ctab button -->
        <button class="Button Button--primary Button--ctab js-button" type="button">
          Button
        </button>

        <!-- Accent ctab button -->
        <button class="Button Button--accent Button--ctab js-button" type="button">
          Button
        </button>

        <!-- Disabled ctab button -->
        <button class="Button Button--ctab js-button" disabled type="button">
          Button
        </button>

  div(class="mvl flex flex-center")
    button(class="Button Button--primary Button--icon js-button mrl"
      type="button")
      +icon('icon-chevron-left')(class="Button-icon")
    button(class="Button Button--accent Button--icon js-button" type="button")
      +icon('icon-chevron-right')(class="Button-icon")

  pre.language-markup
    code
      :markdown
        <!-- Button icon primary -->
        <button class="Button Button--icon Button--primary js-button" type="button">
          <svg class="Icon Button-icon">
            <use xlink:href="#icon-chevron-left"></use>
          </svg>
        </button>

        <!-- Button icon accent -->
        <button class="Button Button--icon Button--accent js-button" type="button">
          <svg class="Icon Button-icon">
            <use xlink:href="#icon-chevron-right"></use>
          </svg>
        </button>

  div.Layout-container.mvl
    h3 Creating buttons
    p The <code>button</code> object is a property on <code>formed.default</code> object attached window object after formed library is loaded.  Invoking a new button is as easy as passing a DOM node to the method.

  div
    pre.language-markup
      code
        :markdown
          <button class="Button js-button1" type="button">...</button>
          <button class="Button js-button2" type="button">...</button>

          <script>
            formed.default.button(document.querySelector('.js-button'));
            // Storing button object.
            var button = formed.default.button(document.querySelector('.js-button2'));
          </script>

  div.Layout-container.mvl
    h4 Button API
    p Creating a <code>button</code> returns an object where a small API is exposed to manipulate the state of a button.

  div
    pre.language-markup
      code
        :markdown
          <button class="Button js-button" type="button">...</button>

          <script>
            var button = formed.default.button(document.querySelector('.js-button'));

            // Toggle a 'is-active' class on button.
            button.toggle();

            // Disable a button.
            button.disable();

            // Enable a button.
            button.enable();

            // Remove event listeners from button.
            button.destroy();
          </script>
