extends ../_layouts/page
include ../_mixins/mixins

block settings
   - var page = 'components'

block main
  div.Layout-container.mvl
    h1 Editor
    p Form input components.

  div(class="mvl phl flex flex-center")
    div.Editor
      input(
        autofocus="true"
        class="Editor-control"
        id="input-1"
        type="text")
      label(class="Editor-label" for="input-1")
        | Text

    div.Editor.mll
      input(
        class="Editor-control"
        id="input-2"
        pattern="-?[0-9]*(\.[0-9]+)?"
        type="text")
      label(class="Editor-label" for="input-2")
        | Number
      div.Editor-feedback
        | Value needs to be a number.

  pre.language-markup
    code
      |&lt;!-- Default editor -->
      |&lt;div class="Editor">
      |  &lt;label class="Editor-label" for="input-1">Text&lt;/label>
      |  &lt;input class="Editor-control" id="input-1" type="text">
      |&lt;/div>
      |&#13;

      |&lt;!-- Default editor with validation feedback -->
      |&lt;div class="Editor">
      |  &lt;label class="Editor-label" pattern="-?[0-9]*(\.[0-9]+)?" for="input-2">Number&lt;/label>
      |  &lt;input class="Editor-control" id="input-2" type="text">
      |  &lt;div class="Editor-feedback">Value needs to be a number.&lt;/div>
      |&lt;/div>
      |&#13;

  div(class="mvl phl flex flex-center")
    div.Editor
      input(
        autofocus="true"
        class="Editor-control"
        id="input-3"
        placeholder="Text"
        type="text")
      label(class="Editor-label" for="input-3")
        | Text

    div.Editor.mll
      input(
        class="Editor-control"
        id="input-4"
        pattern="-?[0-9]*(\.[0-9]+)?"
        placeholder="Number"
        type="text")
      label(class="Editor-label" for="input-4")
        | Number
      div.Editor-feedback
        | Value needs to be a number.

  pre.language-markup
    code
      |&lt;!-- Editors with no label -->
      |&lt;div class="Editor">
      |  &lt;input class="Editor-control" id="input-3" type="text">
      |  &lt;label class="Editor-label" for="input-3">Text&lt;/label>
      |&lt;/div>
      |&#13;

      |&lt;div class="Editor">
      |  &lt;input class="Editor-control" id="input-4" type="text">
      |  &lt;label class="Editor-label" for="input-4">Number&lt;/label>
      |  &lt;div class="Editor-feedback">Value needs to be a number.&lt;/div>
      |&lt;/div>
      |&#13;

  div(class="mvl phl flex flex-center")
    div.Editor.has-icon.mll
      input(
        class="Editor-control"
        id="input-5"
        type="text")
      label(class="Editor-label" for="input-5")
        | Name
      div.Editor-icon
        +icon('icon-user')

    div.Editor.has-icon.mll
      input(
        class="Editor-control"
        id="input-6"
        type="text"
        value="christopher")
      label(class="Editor-label" for="input-6")
        | Name
      div.Editor-icon
        +icon('icon-user')

  pre.language-markup
    code
      |&lt;!-- Editors with icons -->
      |&lt;div class="Editor has-icon">
      |  &lt;input class="Editor-control" id="input-5" type="text">
      |  &lt;label class="Editor-label" for="input-5">Name&lt;/label>
      |  &lt;div class="Editor-icon">
      |    &lt;svg class="Icon">
      |      &lt;use xlink:href="#icon-user">&lt;/user>
      |    &lt;/svg>
      |  &lt;/div>
      |&lt;/div>
      |&#13;

      |&lt;!-- Dirty editors with icons -->
      |&lt;div class="Editor has-icon">
      |  &lt;input class="Editor-control" id="input-6" type="text">
      |  &lt;label class="Editor-label" for="input-6">Name&lt;/label>
      |  &lt;div class="Editor-icon">
      |    &lt;svg class="Icon">
      |      &lt;use xlink:href="#icon-user">&lt;/user>
      |    &lt;/svg>
      |  &lt;/div>
      |&lt;/div>
      |&#13;

  div(class="mvl phl flex flex-center")
    div.Editor
      input(
        class="Editor-control"
        disabled
        id="input-7"
        type="text")
      label(class="Editor-label" for="input-7")
        | Name

    div.Editor.is-readonly.mll
      input(
        class="Editor-control"
        readonly
        id="input-8"
        type="text"
        value="christopher")
      label(class="Editor-label" for="input-8")
        | Name

  pre.language-markup
    code
      |&lt;!-- Disabled editor -->
      |&lt;div class="Editor is-disabled">
      |  &lt;input class="Editor-control" disabled id="input-7" type="text">
      |  &lt;label class="Editor-label" for="input-7">Name&lt;/label>
      |&lt;/div>
      |&#13;

      |&lt;!-- Readonly editor -->
      |&lt;div class="Editor is-dirty is-readonly">
      |  &lt;input class="Editor-control" readonly id="input-8" type="text">
      |  &lt;label class="Editor-label" for="input-8">Name&lt;/label>
      |&lt;/div>
      |&#13;

block scripts
  script.
    [].forEach.call(document.querySelectorAll('.Editor'), function (editor) {
      Object.create(formed.Editor).init(editor);
    });
