include mixins

doctype html
html
  head
    title Formed CSS
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(charset="utf-8")
    meta(name="viewport"
         content="width=device-width, initial-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    link(rel="stylesheet" href="#{urlPrefix}formed.css")

  body
    include images/icons.svg

    div._layoutAbsoluteViewport
      div.App.App--viewport
        //- div.App-container
        div.App-drawer
          h1.App-title.App-drawer-title Formed.css

        header.App-header.background-primary.shadow-2
          div.App-header-inner
            //- button(class="App-header-menu"
            //-        type="button")
            //-   +icon('icon-menu')(class="Icon--lg _textBaseline")
            h1.App-title Formed.css

        main.App-main._pal
          div._size8of12._centerBox
            p Formed visual styleguide and component-based library.

            section
              h2 Sectioning Elements

              section
                h3 Headings

                div.Frame
                  h1._mbm Header 1
                    small &nbsp;small text
                  h2._mbm Header 2
                    small &nbsp;small text
                  h3._mbm Header 3
                    small &nbsp;small text
                  h4._mbm Header 4
                    small &nbsp;small text
                  h5._mbm Header 5
                  h6._mbm Header

            section
              h2 Components

              section._mbl
                h3 Card
                div(class="_mtl" style="display: flex;")
                  div.Card
                    div.Card-hd
                      h2.Card-title Card title

                    div.Card-bd
                    div.Card-ft

              section.Menu.is-active(style="height: 230px")
                h3 Menu

                ul.Menu-box(style="margin-top: 48px;")
                  li.Menu-item Menu item 1
                  li.Menu-item Menu item 2
                  li.Menu-item Menu item 3

              section
                h3 Editor

                div.Editor._mbl.js-editor
                  input(class="Editor-control"
                        id="scr"
                        placeholder="screen reader label"
                        type="text")
                  label(class="Editor-label" for="scr")
                    span._visuallyHidden Editor screen reader
                  div.Editor-help
                    | Some help text

                div.Editor.Editor--hangingLabel.js-editor
                  input(class="Editor-control"
                        type="text")
                  label(class="Editor-label") Editor label

                div.Editor.Editor--lg.Editor--hangingLabel.js-editor
                  input(class="Editor-control"
                        type="text")
                  label(class="Editor-label") Large editors

                div.Editor.js-editor
                  textarea(class="Editor-control"
                           placeholder="Multi line"
                           rows="5")
                  label(class="Editor-label" for="multi-line")
                    span._visuallyHidden Multi line

                script.
                  var editors = document.querySelectorAll('.js-editor .Editor-control');
                  var editorList = Array.prototype.slice.call(editors);

                  editorList.forEach(function (editor) {
                    editor.addEventListener('focus', function (evt) {
                      evt.target.parentNode.classList.add('is-focused');
                    });

                    editor.addEventListener('blur', function (evt) {
                      evt.target.parentNode.classList.remove('is-focused');
                      evt.target.parentNode
                        .classList.toggle('is-answered', evt.target.value);
                    });
                  });

